.card-cat
	.card-cat-container
		.card-cat-container__price for sale = 
		img.card-container-cat__image-cat(alt="cat" src="https://storage.googleapis.com/ck-kitty-image/0x06012c8cf97bead5deae237070f9587f8e7a266d/495636.svg")
	.card-cat__id id #
	.card-cat__name name 
	.card-cat__category category 
