doctype html
html(lang='en')
	head
		meta(charset="UTF-8")
		title Cat
		link(rel="stylesheet" href="css/all.css")
		link(rel="stylesheet" href="css/da-library.css")
		link(rel="icon" type="image/png" href="images/da-logo.png")
		script(src = " https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js ")
		script(async src="https://cdn.jsdelivr.net/npm/vanilla-ripplejs@1.0.6" integrity="sha384-OlarGErerEgz/M7123pQTTek4pUIiR6t0BK09bTmWDi2cZYbv3VHrriaXDnA0Oup" crossorigin="anonymous")
		script(src="js/da-lib.js")
		body
		div(class="wrapp1")
			div(class="card-cat_n")
				div(class="card-cat-container_n" style="background-color: lightpink")
					div(class="card-cat-container__price") for sale = 100
					img(class="card-container-cat__image-cat_n" alt="cat" src="https://storage.googleapis.com/ck-kitty-image/0x06012c8cf97bead5deae237070f9587f8e7a266d/495636.svg")
				div(class="card-cat__id") id 1
				div(class="card-cat__name") name simon
				div(class="card-cat__category") category simon
				div(class="cat-add-to-cart")
					a(href="#0" class="button add-to-cart") Add to Cart
		script(src="js/script.js")