doctype html
html(lang='en')
    head
        meta(charset="UTF-8")
        link(rel="icon" type="image/png" href="images/da-logo.png")
        title Cat
        link(rel="stylesheet" href="css/all.css")
        link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        script(src = " https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js ")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
        script(async src="https://cdn.jsdelivr.net/npm/vanilla-ripplejs@1.0.6" integrity="sha384-OlarGErerEgz/M7123pQTTek4pUIiR6t0BK09bTmWDi2cZYbv3VHrriaXDnA0Oup" crossorigin="anonymous")
    body
        .main-conainer
        script(src="js/script.js")
