doctype html
html(lang='en')
    head
        meta(charset="UTF-8")
        title CryptoKitties
        link(rel="stylesheet" href="css/all.css")
        link(rel="stylesheet" href="css/da-library.css")
        link(rel="icon" type="image/png" href="images/logo-hover.gif")
        script(src = " https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js ")
        script(type="module" src="js/index.js" defer)
      
    body
    .wrapp
        .overlay(id='loader')
            .loader.ball-grid-pulse 
                div
        .cats-options
            .cats-options__search-line
                .cats-options__search
                    form(id="search")
                        input(class="da-inputs_simple da-inputs_style" placeholder= "Search name" type="text" name="search" required)
            .cats-options__filter-option
                .cats-options__filter-option_name Category:
                .cats-options__filter-option_buttons
                    button(class="cats-options__filter-option_button snappy") Snappy
                    button(class="cats-options__filter-option_button brisk") Brisk
                    button(class="cats-options__filter-option_button plodding") Plodding
                    button(class="cats-options__filter-option_button slow") Slow
                    button(class="cats-options__filter-option_button sluggish") Sluggish
                    button(class="cats-options__filter-option_button catatonic") Catatonic
                    button(class="cats-options__filter-option_button fast") Fast
                    button(class="cats-options__filter-option_button shift") Swift

        .shopping-cart
            .shopping-cart-head
                span(class="cats-quantity") 0 Cat(s) in Cart
        
            ul(class="shopping-cart-list")
    
            .cart-buttons
                a(href="#0" class="button empty-cart-btn") Empty
                a(href="#0" class="button cart-checkout") 
        

            
        .cats-info

        

        .page-navigation
            button.button_prev &#8249 
            button.button_next &#8250

    .cat-info.disable

